script
#!/bin/bash


cat script >> .gitignore
git add .
git commit -m "added query 7"

git push origin main
git rm --cached .gitignore
git commit -m "added query 7"
#!/bin/bash


cat script >> .gitignore
git add .
git commit -m "added query 7"

git push origin main

#!/bin/bash


cat script >> .gitignore
git add .
git commit -m "added query 7"

git push origin main

#!/bin/bash


cat script >> .gitignore
git add .
git commit -m "changed query 7 added query 8,9,10"

git push origin main

